.terraform
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
resources.zip
scripts.zip
kali_public_key
publickey 
privatekey
kaliprivatekey
kalipublickey 
resources/windows_pre_downloads/*
